In [1]:
import pandas as pd
import numpy as np

In [5]:
# read in user data
users = pd.read_csv('yelp_user.csv', index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1518169 entries, 0 to 1518168
Data columns (total 22 columns):
average_stars         1518169 non-null float64
compliment_cool       1518169 non-null int64
compliment_cute       1518169 non-null int64
compliment_funny      1518169 non-null int64
compliment_hot        1518169 non-null int64
compliment_list       1518169 non-null int64
compliment_more       1518169 non-null int64
compliment_note       1518169 non-null int64
compliment_photos     1518169 non-null int64
compliment_plain      1518169 non-null int64
compliment_profile    1518169 non-null int64
compliment_writer     1518169 non-null int64
cool                  1518169 non-null int64
elite                 1518169 non-null object
fans                  1518169 non-null int64
friends               1518169 non-null object
funny                 1518169 non-null int64
name                  1517693 non-null object
review_count          1518169 non-null int64
useful                1518169 non-null int64
user_id               1518169 non-null object
yelping_since         1518169 non-null object
dtypes: float64(1), int64(16), object(5)
memory usage: 266.4+ MB

In [7]:
users.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,2.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
1,5.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Daipayan,2,0,XvLBr-9smbI0m_a7dXtB7w,2015-09-05
2,4.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Andy,1,0,QPT4Ud4H5sJVr68yXhoWFw,2016-07-21
3,4.05,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Jonathan,19,0,i5YitlHZpf0B3R0s_8NVuw,2014-08-04
4,3.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Shashank,3,0,s4FoIXE_LSGviTHBe8dmcg,2017-06-18

In [8]:
# read in business data
business = pd.read_csv('yelp_business.csv', index_col=0)

In [9]:
business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         180970 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188583 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    68655 non-null object
postal_code     187912 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 23.0+ MB

In [10]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,NaN,T2E 6L6,24,4.0,AB
1,NaN,"{'Alcohol': 'none', 'BikeParking': 'False', 'B...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,NaN,89002,3,4.5,NV
2,1335 rue Beaubien E,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandw...",MontrÃ©al,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
3,211 W Monroe St,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,NaN,1,33.449999,-112.076979,Geico Insurance,NaN,85003,8,1.5,AZ
4,2005 Alyth Place SE,{'BusinessAcceptsCreditCards': 'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,51.035591,-114.027366,Action Engine,NaN,T2H 0N5,4,2.0,AB

In [11]:
reviews = pd.read_csv('yelp_review.csv', index_col=0)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0.0,x7mDIiDB3jEiPGPHOmDzyw,2.0,The pizza was okay. Not the best I've had. I p...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
3,elqbBhBfElMNSrjFqW3now,0,2011-02-25,0.0,Er4NBWCmCD4nM8_p1GRdow,2.0,Back in 2005-2007 this place was my FAVORITE t...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g

In [13]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5996998 entries, 0 to 5996995
Data columns (total 9 columns):
business_id    object
cool           object
date           object
funny          float64
review_id      object
stars          float64
text           object
useful         float64
user_id        object
dtypes: float64(3), object(6)
memory usage: 457.5+ MB

In [14]:
business.state.unique()

array(['AB', 'NV', 'QC', 'AZ', 'ON', 'PA', 'OH', 'IL', 'WI', 'NC', 'BY',
       'NYK', 'SC', 'C', 'XGM', 'ST', 'IN', 'RP', 'CMA', 'NI', 'NLK',
       'VS', '6', 'CO', 'HE', 'VA', 'RCC', '01', 'SG', 'NY', 'OR', 'NW',
       '4', '10', 'CC', 'CA', '45', 'LU', 'MT', 'G', 'PO', 'B', 'VT',
       'AL', 'WAR', 'MO', 'HU', 'M', 'AR', 'O', 'FL', 'WA', 'KY', 'CRF',
       'TAM', 'NE', 'XMS', 'GA', 'AG', 'WHT', 'MA', 'V', 'BC', 'SP', 'DE',
       'HH', '11', 'CS', 'MN'], dtype=object)

In [15]:
business.state.value_counts()

AZ     56495
NV     35688
ON     32393
NC     14359
OH     13664
PA     10966
QC      8756
AB      7670
WI      5042
IL      1937
SC       770
NYK      163
NI       134
IN       101
OR        72
BY        60
ST        45
CO        43
C         34
HE        32
NLK       23
XGM       23
NY        19
RP        19
01        11
CA         8
VS         7
NW         4
6          3
O          3
       ...
G          2
VA         1
LU         1
DE         1
11         1
FL         1
WHT        1
MN         1
10         1
NE         1
CS         1
GA         1
TAM        1
V          1
HH         1
KY         1
RCC        1
BC         1
HU         1
45         1
PO         1
WAR        1
CRF        1
SP         1
MT         1
CC         1
AG         1
MA         1
XMS        1
4          1
Name: state, Length: 69, dtype: int64

In [16]:
business_AZ = business[business['state'] == 'AZ']

In [17]:
# remove categories with NaN
business_AZ.dropna(subset=['categories'], inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
restaurant_AZ = business_AZ[business_AZ['categories'].str.contains('Restaurants')]

In [55]:
restaurant_AZ['city'].value_counts()

Phoenix                 3805
Scottsdale              1509
Mesa                    1155
Tempe                    991
Chandler                 840
Glendale                 690
Gilbert                  547
Peoria                   356
Surprise                 223
Avondale                 179
Goodyear                 172
Cave Creek                88
Fountain Hills            81
Buckeye                   66
Litchfield Park           47
Sun City                  45
Tolleson                  33
Laveen                    32
Paradise Valley           28
Carefree                  27
El Mirage                 25
MESA                      24
Anthem                    16
Sun City West             14
San Tan Valley            14
Sun Lakes                 11
Youngtown                 10
Fort McDowell              6
Higley                     6
Guadalupe                  6
Ahwatukee                  5
Laveen Village             4
Roosevelt                  3
Scottdale                  2
Pheonix                    2
Central City               1
Waddell                    1
Schottsdale                1
Phx                        1
Mesa AZ                    1
Glendale Az                1
Phoenix Valley             1
Central City Village       1
Gelndale                   1
Pheonix AZ                 1
Name: city, dtype: int64

In [56]:
# pick only phoenix
restaurant_PHX = restaurant_AZ[restaurant_AZ['city'] == 'Phoenix']

In [57]:
restaurant_PHX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3805 entries, 12 to 188518
Data columns (total 15 columns):
address         3748 non-null object
attributes      3760 non-null object
business_id     3805 non-null object
categories      3805 non-null object
city            3805 non-null object
hours           2851 non-null object
is_open         3805 non-null int64
latitude        3805 non-null float64
longitude       3805 non-null float64
name            3805 non-null object
neighborhood    0 non-null object
postal_code     3799 non-null object
review_count    3805 non-null int64
stars           3805 non-null float64
state           3805 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 475.6+ KB

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [58]:
restaurant_review = pd.merge(restaurant_PHX, reviews, how='inner', on='business_id')

In [59]:
restaurant_review.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,stars_x,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,2801 N 15th Ave,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",_c3ixq9jYKxhLUB0czi0ug,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",Phoenix,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,33.479807,-112.091188,Original Hamburger Works,...,4.0,AZ,0,2015-05-11,0.0,lM_XM7e1nD7d7NJ815inuA,4.0,Cozy neighborhood sports bar w good burgers. L...,2.0,UfUFjbwLpYCeJrWUWdMYVA
1,2801 N 15th Ave,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",_c3ixq9jYKxhLUB0czi0ug,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",Phoenix,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,33.479807,-112.091188,Original Hamburger Works,...,4.0,AZ,0,2010-08-14,0.0,ACW_G1G0PG0GNyGUPfI3UA,4.0,The bad: the bar closes at 10pm. It seems lik...,0.0,VWDL0VgQ2ivpN3oYhL_WsA
2,2801 N 15th Ave,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",_c3ixq9jYKxhLUB0czi0ug,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",Phoenix,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,33.479807,-112.091188,Original Hamburger Works,...,4.0,AZ,1,2014-07-29,0.0,KKJa4pRGwq8eO6YCdhjNoA,5.0,"Good food, good vibes, good service. All adds ...",1.0,SoL4ToJdvxWpGGzxYVA86A
3,2801 N 15th Ave,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",_c3ixq9jYKxhLUB0czi0ug,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",Phoenix,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,33.479807,-112.091188,Original Hamburger Works,...,4.0,AZ,0,2015-11-08,0.0,zSa_s88VlxYzeiHHTlK6xw,5.0,My wife and I were referred to this place by a...,0.0,JIj2V2YaM5_8jVtnkLSZ5g
4,2801 N 15th Ave,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",_c3ixq9jYKxhLUB0czi0ug,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",Phoenix,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,33.479807,-112.091188,Original Hamburger Works,...,4.0,AZ,3,2009-09-24,5.0,1wYTbfyQ0bfM31nM9c3hsA,3.0,My boyfriend likes burgers...I don't. Not real...,4.0,BoJQWDp2a9sxUMrlJBTfRA

In [60]:
restaurant_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375409 entries, 0 to 375408
Data columns (total 23 columns):
address         374340 non-null object
attributes      374715 non-null object
business_id     375409 non-null object
categories      375409 non-null object
city            375409 non-null object
hours           354817 non-null object
is_open         375409 non-null int64
latitude        375409 non-null float64
longitude       375409 non-null float64
name            375409 non-null object
neighborhood    0 non-null object
postal_code     375253 non-null object
review_count    375409 non-null int64
stars_x         375409 non-null float64
state           375409 non-null object
cool            375409 non-null object
date            375409 non-null object
funny           375409 non-null float64
review_id       375409 non-null object
stars_y         375409 non-null float64
text            375409 non-null object
useful          375409 non-null float64
user_id         375409 non-null object
dtypes: float64(6), int64(2), object(15)
memory usage: 68.7+ MB

In [61]:
restaurant_review_user = pd.merge(users, restaurant_review, how='inner', on='user_id')

In [62]:
restaurant_review_user.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,review_count_y,stars_x,state,cool_y,date,funny_y,review_id,stars_y,text,useful_y
0,4.0,0,0,0,0,0,0,0,0,0,...,296,4.0,AZ,0,2017-01-28,0.0,B7nYOB0yjOkCmLtXHfxWxw,4.0,"Great burger place, chipotle style menu. Good ...",0.0
1,4.0,0,0,0,0,0,0,0,0,0,...,120,3.5,AZ,2,2013-04-07,0.0,yDT1e0XEACTiPfhJCbrasA,4.0,Big and Juicy fried Oyster..... and the Ipswic...,2.0
2,4.0,0,0,0,0,0,0,0,0,0,...,170,4.0,AZ,1,2013-04-07,0.0,JMFMubgR3gmM98H0MDh_Xw,4.0,Wonderful Chinese food for a very fair value. ...,0.0
3,4.0,0,0,0,0,0,0,0,0,0,...,1036,4.0,AZ,1,2013-04-07,0.0,KNiuq0ZgsBaopu3jUfrrIQ,4.0,Was in search of a tasty burger. Mushroom burg...,1.0
4,4.0,0,0,0,0,0,0,0,0,0,...,316,4.5,AZ,0,2013-04-07,0.0,ry9YjXdIkcuIWpLAhMBf4A,4.0,Fresh and tasty carne asada quesadilla or past...,0.0

In [63]:
restaurant_review_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375409 entries, 0 to 375408
Data columns (total 44 columns):
average_stars         375409 non-null float64
compliment_cool       375409 non-null int64
compliment_cute       375409 non-null int64
compliment_funny      375409 non-null int64
compliment_hot        375409 non-null int64
compliment_list       375409 non-null int64
compliment_more       375409 non-null int64
compliment_note       375409 non-null int64
compliment_photos     375409 non-null int64
compliment_plain      375409 non-null int64
compliment_profile    375409 non-null int64
compliment_writer     375409 non-null int64
cool_x                375409 non-null int64
elite                 375409 non-null object
fans                  375409 non-null int64
friends               375409 non-null object
funny_x               375409 non-null int64
name_x                375390 non-null object
review_count_x        375409 non-null int64
useful_x              375409 non-null int64
user_id               375409 non-null object
yelping_since         375409 non-null object
address               374340 non-null object
attributes            374715 non-null object
business_id           375409 non-null object
categories            375409 non-null object
city                  375409 non-null object
hours                 354817 non-null object
is_open               375409 non-null int64
latitude              375409 non-null float64
longitude             375409 non-null float64
name_y                375409 non-null object
neighborhood          0 non-null object
postal_code           375253 non-null object
review_count_y        375409 non-null int64
stars_x               375409 non-null float64
state                 375409 non-null object
cool_y                375409 non-null object
date                  375409 non-null object
funny_y               375409 non-null float64
review_id             375409 non-null object
stars_y               375409 non-null float64
text                  375409 non-null object
useful_y              375409 non-null float64
dtypes: float64(7), int64(18), object(19)
memory usage: 128.9+ MB

In [64]:
restaurant_review_user.groupby('user_id')['review_count_x'].count()

user_id
---94vtJ_5o_nikEs6hUjg     1
---cu1hq55BP9DWVXXKHZg     2
--2HUmLkcNHZp0xw6AMBPg     6
--3WaS23LcIXtxyFULJHTA     2
--41c9Tl0C9OGewIR7Qyzg     1
--4q8EyqThydQm-eKZpS-A     1
--4rAAfZnEIAKJE80aIiYg    12
--5XzJ2pRsVVJiJUfzZlgQ     1
--BIMVqCxdg5AbJu-ysD8g     1
--CIuK7sUpaNzalLAlHJKA     5
--HSetzBcPbZifvoFc5sHg     1
--IMmfBLz5qOLSlSHRHH6Q     2
--K1aJ5K8ZLIfDd_NjySbA     1
--KR35achpjfu4qZ5Mb5Kg     2
--L_yvPtHKRTjRO0T8FL0g     2
--Nnm_506G_p8MxAOQna5w    25
--P-Qvza7AED8gnDrZkMgA     3
--PHyzUR6FEjHqxg9I60LA     2
--RY4bG7REOBum5HsSspxQ     1
--Rm-VyYWgHA7ZpljAMlvg     3
--_TEmFrGzbLOfkezpyTRg     1
--dt6KqbqXc3cIdPNTrhUQ     2
--eQVss9nAx54FWsZHZgpA     4
--fF-8O8ruMCIuP45IwVMQ     1
--fF_pQlaU9sME-HLCoHlQ     2
--fTYYEaTDqA8Z2OR_vNfw     1
--gBGXfVm5YyAVVkj84W5Q     1
--gc9Xg3MPKCy3BPt1g_1A     1
--gsZ16vkDVFD5uSuUFBFw     2
--iiD1TQzaXGxePZ1g5S2A     1
                          ..
zz5dvUxublEptng2GvC6sA     2
zz8rQaQvsZFZfAu-rPhLNw     8
zzF17hwmlFTuOa1Yagi-eg    10
zzGUguWplnzgKfYxM5KWsg     1
zzGsbwQ3HKL3YSUAig4mwQ     1
zzIn-ymZjkihnZ7klX13Iw     1
zzJImcfBJi_SJSuh-6l2qw     2
zzO9aMo33jA3pPv8SoYskw     4
zzOd64i66_Z5roGjXmwCXA     1
zzPr2LP2uMqI2SYhVBmowQ     2
zzPwPGo8aJmWOH4rSxcv-g     1
zzRq3Ykz8yfr2mcsPhYnEg     1
zzSu7UOwJW-BlS8jLjrJAQ     1
zzT7g9p0NVHz5jMoWgN9cw     1
zzWQb8kPhQ64SiCSY8jxfQ     1
zzXNLpbLmNzcC7h7mGonNQ     4
zz_af2hX9jRh965zsaFLKg     1
zzaq5Fn1U2Feut3dGxidNg     1
zzbDNI_Ss1DmeDITGoTjXA     1
zzbLAhBKT8xEZWWaIuG0vQ     2
zzcRUD3kTXhHQXJIhxlKoQ     1
zzhOHf6bPcrFkzyWKTyp0g     1
zzitZPIJBmyxt8DefrJygg     4
zzjQuRnY_Kgr_zaw6A-ACQ     1
zzkgqTZLZxLdIRtMBOUSeQ     1
zzmbLv7WZPxhGbpk0BdPPQ     1
zznZTSALzMXf3cjggfNdBQ     4
zzpV8L0FOeyejQwomFSDPA     1
zzzAgDDWe4PTnJuwhi3XQQ     1
zzzTrQ2bkvteEngjkXCTAA     1
Name: review_count_x, Length: 141654, dtype: int64

In [65]:
restaurant_review_user.to_csv('restaurant_review_user_phx.csv')

In [66]:
# total users who reviewed on phx restaurant
len(restaurant_review_user.groupby('user_id')['review_count_x'].count())

141654

In [67]:
# number of users who have 3 or more reviews on phx restaurant
sum(restaurant_review_user.groupby('user_id')['review_count_x'].count()>=3)

30707

In [68]:
test = restaurant_review_user.iloc[0,:]

In [69]:
test

average_stars                                                         4
compliment_cool                                                       0
compliment_cute                                                       0
compliment_funny                                                      0
compliment_hot                                                        0
compliment_list                                                       0
compliment_more                                                       0
compliment_note                                                       0
compliment_photos                                                     0
compliment_plain                                                      0
compliment_profile                                                    0
compliment_writer                                                     0
cool_x                                                                0
elite                                                              None
fans                                                                  0
friends                                                            None
funny_x                                                               0
name_x                                                             Andy
review_count_x                                                        1
useful_x                                                              0
user_id                                          QPT4Ud4H5sJVr68yXhoWFw
yelping_since                                                2016-07-21
address                                          430 E Bell Rd, Ste 103
attributes            {'Alcohol': 'beer_and_wine', 'Ambience': "{'ro...
business_id                                      lRL7x-HMBscWyELxEVq85w
categories                                         Restaurants, Burgers
city                                                            Phoenix
hours                 {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...
is_open                                                               1
latitude                                                        33.6412
longitude                                                      -112.068
name_y                                                  Caveman Burgers
neighborhood                                                        NaN
postal_code                                                       85022
review_count_y                                                      296
stars_x                                                               4
state                                                                AZ
cool_y                                                                0
date                                                         2017-01-28
funny_y                                                               0
review_id                                        B7nYOB0yjOkCmLtXHfxWxw
stars_y                                                               4
text                  Great burger place, chipotle style menu. Good ...
useful_y                                                              0
Name: 0, dtype: object

In [70]:
restaurant_review_user.groupby('user_id')['review_count_x'].count().mean()

2.650182839877448